.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(44, 0, 85, 0.2);
    margin: 0 0 10px;
    padding: 20px 0;
}

.HomePage-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
}

.HomePage-title {
    margin: 0 0 20px 0;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.HomePage-carousel {
    margin: 0 8px 20px 8px;
    box-shadow: 0 4px 8px 0 rgba(44, 0, 85, 0.2);
    align-self: center;
    max-width: 320px;
}

.HomePage-carousel-img-wrapper {
    height: 200px;
}

.HomePage-carousel-img {
    height: 100%;
    object-fit: contain;
}

.HomePage-profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    font-weight: bold;
}

.HomePage-profile-img {
    border-radius: 101px;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.HomePage-profile-name {
    color: #333;
    font-size: 16px;
    margin-bottom: 4px;
}

.HomePage-profile-title {
    font-size: 14px;
    color: #aaa;
}

.HomePage-profile,
.HomePage-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.HomePage-desc {
    border-left: 1px dashed #ccc;
}

.HomePage-desc-title {
    font-size: 24px;
    text-align: center;
}

.HomePage-desc-content {
    padding-top: 12px;
}

.HomePage-desc-content > p {
    padding: 0 10px;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 22px;
}

.HomePage-desc-content > p:first-of-type {
    font-size: 18px;
    color: #999;
    font-weight: bold;
}

.HomePage-desc-content > p:last-of-type {
    font-weight: bold;
}

@media all and (max-width: 760px) {
    .HomePage-section {
        flex-direction: column;
    }

    .HomePage-profile-name,
    .HomePage-profile-title {
        font-size: 14px;
    }

    .HomePage-profile-img {
        border-radius: 60px;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .HomePage-profile {
        padding-bottom: 6px;
    }

    .HomePage-title {
        font-size: 18px;
        margin: 0 20px 0 20px;
    }

    .HomePage-desc {
        border-left: none;
    }

    .HomePage-desc-content {
        padding-top: 0;
    }

    .HomePage-desc-content > p {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    .HomePage-desc-content > p:first-of-type {
        font-size: 16px;
        text-align: center;
    }
}
