.ContactSection {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(44, 0, 85, 0.2);
    margin-top: 14px;
    padding: 10px 10px 0px;
    background-color: #fff;
}

.ContactSection-main-title {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.ContactSection-head {
    align-self: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(44, 0, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ContactSection-head-icon {
    font-size: 42px;
    color: #fff;
}

.ContactForm {
    display: flex;
    flex-direction: column;
}

.ContactForm-desc {
    padding: 10px;
    color: #777;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.ContactForm-error {
    padding: 10px;
    font-weight: bold;
    margin: 0 10px 20px 10px;
    font-size: 12px;
    background-color: #da1414;
    color: #fff;
    border-radius: 6px;
    text-align: left;
    display: flex;
    align-items: center;
}

.ContactForm-error-icon {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.ContactForm-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ContactForm-label {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #888;
}

.ContactForm-text,
.ContactForm-textarea {
    font-size: 14px;

    color: #333;
    border: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 5px;
}

.ContactForm-text {
    height: 36px;
    padding: 0 10px;
}

.ContactForm-textarea {
    height: 100px;
    padding: 10px;
}

.ContactForm-submit {
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(44, 0, 85);
    border: none;
    font-size: 14px;
    align-self: flex-end;
    width: 100px;
    margin: 10px;
}
