.HomeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 0 12px 12px 12px;
    padding: 20px 0 20px;
}

.HomeSection-carousel {
    margin: 0 8px 20px 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    align-self: center;
    max-width: 420px;
}

.HomeSection-carousel-wrapper {
    height: 270px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.HomeSection-carousel-title-wrapper {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.HomeSection-carousel-title-A {
    background-color: rgba(199, 0, 57, 0.8);
}

.HomeSection-carousel-title-B {
    background-color: rgba(3, 146, 255, 0.8);
}

.HomeSection-carousel-title-C {
    background-color: rgba(255, 195, 0, 0.8);
}

.HomeSection-carousel-icon-wrapper {
    margin: 7px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #fff;
}

.HomeSection-carousel-icon {
    color: #333;
    font-size: 14px;
}

.HomeSection-carousel-title-text {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.HomeSection-carousel-img-wrapper {
    position: relative;
}

.HomeSection-carousel-img {
    object-fit: contain;
    height: 100%;
    position: relative;
}

.HomeSection-carousel-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
}

.HomeSection-profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    font-weight: bold;
}

.HomeSection-title {
    padding: 0 0 30px 0;
    font-size: 24px;
    text-align: center;
    color: #333;
    max-width: 440px;
}

.HomeSection-profile-img {
    border-radius: 101px;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.HomeSection-profile-name {
    color: #333;
    font-size: 16px;
    margin-bottom: 4px;
}

.HomeSection-profile-title {
    font-size: 14px;
    color: #aaa;
}

.HomeSection-profile,
.HomeSection-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.HomeSection-desc {
    border-left: 1px dashed #ccc;
}

.HomeSection-desc-title {
    font-size: 24px;
    text-align: center;
}

.HomeSection-desc-content {
    padding-top: 12px;
}

.HomeSection-desc-content > p {
    padding: 0 10px;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 22px;
}

.HomeSection-desc-content > p:first-of-type {
    font-size: 18px;
    color: #999;
    font-weight: bold;
}

.HomeSection-desc-content > p:last-of-type {
    font-weight: bold;
}

@media all and (max-width: 760px) {
    .HomeSection {
        flex-direction: column;
    }

    .HomeSection-profile-name,
    .HomeSection-profile-title {
        font-size: 14px;
    }

    .HomeSection-profile-img {
        border-radius: 60px;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .HomeSection-profile {
        padding-bottom: 6px;
    }

    .HomeSection-title {
        font-size: 18px;
        margin: 0 20px 0 20px;
    }

    .HomeSection-desc {
        border-left: none;
    }

    .HomeSection-desc-content {
        padding-top: 0;
    }

    .HomeSection-desc-content > p {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    .HomeSection-desc-content > p:first-of-type {
        font-size: 16px;
        text-align: center;
    }

    .HomeSection-carousel {
        max-width: 300px;
    }

    .HomeSection-carousel-wrapper {
        height: 200px;
    }
}
