.Footer {
    background-color: #2c0055;
    color: #fff;
}

.Footer-social {
    margin-top: 10px;
    text-align: center;
}

.Footer-social-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.Footer-social-icon {
    font-size: 26px;
    margin-right: 10px;
}

.Footer-social-icon:hover {
    color: #bbb;
    font-size: 24px;
}

.Footer-copyright {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 8px;
    line-height: 16px;
    font-size: 18px;
    text-align: center;
}
