.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    background-color: rgb(44, 0, 85);
    height: 56px;
    color: #fff;
}

.Header-profile-img {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}

.Header-profile-img,
.Header-profile-info {
    margin-right: 10px;
}

.Header-profile-info-name,
.Header-profile-info-title {
    font-weight: bold;
    display: block;
    padding: 1px 5px;
}

.Header-profile-info-name {
    color: #aaa;
    font-size: 14px;
}

.Header-profile-info-title {
    font-size: 12px;
}

.Header-navigation {
    margin-left: auto;
}

.Header-language {
    margin-right: 10px;
}

@media all and (max-width: 781px) {
    .Header-navigation {
        order: 1;
        margin-left: 0;
    }

    .Header-language {
        order: 2;
    }

    .Header-profile-img {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        margin-right: 2px;
    }

    .Header-language {
        align-self: center;
        justify-self: end;
        margin: 0 auto;
        width: 100px;
    }
}
