.Header {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 20px;
}

.Header-profile-img {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}

.Header-profile-img,
.Header-profile-info {
    margin-right: 10px;
}

.Header-profile-info-name,
.Header-profile-info-title {
    font-weight: bold;
    display: block;
    padding: 1px 5px;
}

.Header-profile-info-name {
    color: #555;
    font-size: 24px;
    line-height: 18px;
}

.Header-profile-info-title {
    color: #aaa;
    line-height: 14px;
    font-size: 20px;
}

.Header-navigation {
    margin-left: auto;
}

.Header-language {
    margin-right: 10px;
}

@media all and (max-width: 761px) {
    .Header-profile {
        order: 2;
        flex-direction: row;
        flex: 1;
        align-self: center;
        justify-content: center;
    }

    .Header-navigation {
        order: 1;
        margin-left: 0;
    }

    .Header-language {
        order: 3;
    }

    .Header-profile-img {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        margin-right: 2px;
    }

    .Header-profile-info-name {
        font-size: 22px;
        line-height: 16px;
    }

    .Header-profile-info-title {
        line-height: 12px;
        font-size: 18px;
    }
}
