@font-face {
    font-family: DongleLight;
    src: local('DongleLight'), url('./components/fonts/Dongle-Light.ttf') format('truetype');
}

@font-face {
    font-family: DongleBold;
    src: local('DongleBold'), url('./components/fonts/Dongle-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'DongleLight', 'DongleBold';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    line-height: 18px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
